{% extends 'base.html' %}

{% block content %}
<div>
    <main class="container">
        <div class="form-container">
            <div>
                <div>
                    <form action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        <h1>Cambio de contraseña</h1>
                        {% if form.errors %}
                            {% for error in form.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ form.as_p }}
                        <button type="submit">Actualizar</button>
                        <button style="background-color: lightgray;"><a style="background-color: lightgray;" href="{% url 'home' %}">Regresar</a></button>
                    </form>
                </div>
            </div>

        </div>
    </main>
</div>
{% endblock content %}