{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <!-- Formulario para Crear/Editar Citas -->
        <div class="form-container">
            <h2>Eliminar Cita</h2>
            <form method="POST">
                {% csrf_token %}
                <label>Fecha y Hora:</label>
                {{ booking.appointment_date }}<br><br>

                <label>Paciente:</label>
                {{ booking.patient }} <br><br>

                <label>Tipo de Cita:</label>
                {% for type in appointment_type %}
                    {% if type.0 == booking.appointment_type %}
                        {{ type }}
                    {% endif %}
                {% endfor %}
                <br><br>

                <label>Nombre del Médico:</label>
                {{ booking.doctor_name }}
                <br><br>

                <label>Número de Cita:</label>
                {{ booking.appointment_number }}
                <br><br>

                <button type="submit">Eliminar Cita</button>
                <button style="background-color: lightgray;"><a style="background-color: lightgray;" href="{% url 'booking' %}">Regresar</a></button>
            </form>
        </div>
    </div>
{% endblock content %}