{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <!-- Formulario para Crear/Editar Citas -->
        <div class="form-container">
            <h2>Editar Cita</h2>
            <form method="POST">
                {% csrf_token %}
                <label>Fecha y Hora:</label>
                <input type="datetime-local" value={{ datetime }} name="fecha_hora"><br><br>

                <label>Paciente:</label>
                {{ booking.patient }} <br><br>

                <label>Tipo de Cita:</label>
                <select name="tipo">
                    {% for type in appointment_type %}
                        {% if type.0 == booking.appointment_type %}
                        <option value={{ type }} selected>{{ type }}</option>
                        {% else %}
                        <option value={{ type }}>{{ type }}</option>
                        {% endif %}
                    {% endfor %}
                </select><br><br>

                <label>Nombre del Médico:</label>
                <input type="text" name="medico" placeholder={{ booking.doctor_name }}><br><br>

                <label>Número de Cita:</label><br>
                {{ booking.appointment_number }}
                <br><br>

                <button type="submit">Guardar Cita</button>
                <button style="background-color: lightgray;"><a style="background-color: lightgray;" href="{% url 'booking' %}">Regresar</a></button>
            </form>
        </div>
    </div>
{% endblock content %}